html, body {
    background: #7c91b2;
    height: 100%;
    width: 100%;
    margin: 0;
}
body {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
button {
    margin-bottom: 20px;
    font-size: 20px;
    background-color: black;
    border-radius: 5px;
    color: white;
    cursor: pointer;
    padding: 10px 15px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
}